<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demande de Rafraîchissement</title>
</head>
<body>

    <h1>Demande de Rafraîchissement</h1>

    <form action="/submit-request" method="post">
        <!-- Vos champs de formulaire ici -->

        <button type="submit">Soumettre la demande</button>
    </form>

    <p><a th:href="@{/liste-demandes}">Voir la liste des demandes</a></p>
    <p><a th:href="@{/login}">Page de connexion</a></p>

</body>
</html>

