<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Demandes</title>
</head>
<body>

    <h1>Liste des Demandes de Rafraîchissement</h1>

    <!-- Afficher la liste des demandes ici -->

    <p><a th:href="@{/demande-form}">Retour au formulaire de demande</a></p>
    <p><a th:href="@{/login}">Page de connexion</a></p>

</body>
</html>

