<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de Connexion</title>
</head>
<body>

    <h1>Page de Connexion</h1>

    <!-- Votre formulaire de connexion ici -->

    <p><a th:href="@{/demande-form}">Retour au formulaire de demande</a></p>
    <p><a th:href="@{/liste-demandes}">Voir la liste des demandes</a></p>

</body>
</html>
